*{
    margin: 0;
    padding: 0;
}

.hero-bg{
    background-image: linear-gradient(to bottom, #12121249, #121212), url('images/donation5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    background-position: center center;
    padding: 200px;
    text-align: center;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    color: black;
    margin-bottom: 20px; 
}

p{
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

a{
    background-color: #FF5959;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.donate-today{
    padding: 100px 200px;
    text-align: center;
}

#hero-h1, #hero-p{
    color: #fff;
}

h2{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: black;
    margin-bottom: 20px; 
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-top: 25px;
}

.other-amount{
    color: #B3B3B3;
}

.line{
    width: 70%;
    margin: 50px auto;
    height: 1px;
    background-color: #B3B3B3;
    border: none;
}

.paragraph{
    width: 50%;
    margin: 0px auto 50px;
}

h3{
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.donate-plan{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.food{
    padding: 30px;
    text-align: left;
    background-color: #4f9da61b;
    border-radius: 5px;  
    margin-right: 20px;
}

.food img{
    margin-bottom: 20px;
}

.shelter{
    padding: 30px;
    text-align: left;
    background-color: #ff595928;
    border-radius: 5px;    
    margin-right: 20px;;
}

.shelter img{
    margin-bottom: 20px;
}

.education{
    padding: 30px;
    text-align: left;
    background-color: #FFF4D6;
    border-radius: 5px;   
}

.education img{
    margin-bottom: 10px;
}

.contribute{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 100px;
}

.how-to-contribute{
    width: 50%;
}

.how-to-contribute img{
    width: 100%;
    border-radius: 5px;
}

.h1-donation {
    font-size: 50px;
}

.donation-4{
    margin-right: 50px;
}

.donation-5{
    margin-left: 50px;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    text-align: center;
}

#humble{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #FF5959;
    margin-bottom: 30px;
}

#subscriber{
    width: 40%;
    height: 200px;
    background-color: #FFF4D6;
    margin: 80px auto;
}

.button-subs{
    margin: auto;
    padding: 20px;
}

input[type=submit] {
    background-color: #FF5959;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 70px;
}

  input[type=text] {
    background-color: #D9D9D9;
    border: none;
    padding: 20px 40px;
    margin-right: -10px;
    border-radius: 5px;
    font-size: 16px;
}

.subscriber{
    display: flex;
    justify-content: center;
}

.container-tk{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.tk-donate{
    background-color:#FAFAFA;
    width: 100px;
    margin-right: 10px;
    padding: 50px 30px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.border-red{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

#how-to-contribute{
    width: 70%;
    margin: 100px auto;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    background-image: linear-gradient(-90deg, #ff59599e, #FFEEEE);
}